html{
  scroll-behavior: smooth;  
}
body{
 margin:0;
 padding:0;
 background-color:lightgray;
 font-family: Arial, sans-serif;
}
nav{
 top:0;
 display:inline-block;
 list-style:none;
 position:fixed;  
 border: 2px solid #333;
 height:100%;
 width:16%; 
}
nav header{  
 font-size:22px;
 display:flex;
 border: 2px solid #333;
 text-decoration:none;
 height:8vh;  
 text-align:center;
 padding:auto;
 justify-content:center; 
 align-items:center;
}

a{
 color:black;
 font-size:20px;
 display:flex;
 border: 2px solid #333;
 text-decoration:none;
 height:8vh;
 justify-content:center; 
 align-items:center;

}
a:hover{
 color:white;
 background-color:darkslategray;
}

h1{
 color:white;
 background-color:black;
 display:flex;
 width:100%;
 font-size:30px;
 position:relative;
 left:17%;
}
h2{
 color:white;
 background-color:black;
 display:flex;
 width:170vh;
 font-size:30px;
 position:relative;
 left:17%;
}
h3{
 display:flex;
 width:160vh;
 font-size:20px;
 position:relative;
 left:17%;
}
p{  
 display:flex;
 width:160vh;
 font-size:20px;
 position:relative;
 left:17%;
}
li{
  list-style:none;}

section p{
 display:flex;
 width:150vh;
 font-size:20px;
 position:relative;
 left:17%;
 
}
code{
 padding:10px 0 0 20px;
 color:white;
 background-color:darkslategray;
 display:flex;
 width:100vh;
 font-size:20px;
 position:relative;
 left:17%;
 list-style:none;
}
@media screen and (max-width:1440px){  

  nav{
    width: 16%;   
    height: 100%;
  } 
  nav header{  
    font-size:15px;   
    height:5vh; 
     
   }
   
   a{
    font-size:15px;   
    height:5vh;    
   }
   
  
   h1{  
    width:100%;
    font-size:15px;    
    left:21%;
  }
     

   h2{   
    width:100%;
    font-size:15px;   
    left:21%;
   }
   h3{    
    width:100%;
    font-size:15px;    
    left:21%;
   }

   section p{   
    width:100%;
    font-size:15px;    
    left:21%;
    
   }
   code{ 
    width: 100%;
    font-size:15px;  
    left:21%;
   
   } 
 

}
@media screen and (max-width:900px){  

  nav{
    width: 100%; 
    position: relative;
    height: 100%;
  } 
  nav header{  
    font-size:15px;   
    height:5vh; 
     
   }
   
   a{
    font-size:15px;   
    height:5vh;    
   }
   
  
   h1{  
    width:100%;
    font-size:15px;    
    left:1%;
  }
     

   h2{   
    width:100%;
    font-size:15px;   
    left:1%;
   }
   h3{    
    width:100%;
    font-size:15px;    
    left:1%;
   }

   section p{   
    width:100%;
    font-size:15px;    
    left:1%;
    
   }
   code{ 
    width: 100%;
    font-size:15px;  
    left:1%;
   
   } 
 

}
